-r base.txt
asgiref==3.2.3
astroid==2.3.3
autopep8==1.4.4
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.1.1
mccabe==0.6.1
pycodestyle==2.5.0
pylint==2.4.4
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
wrapt==1.11.2
pytest==5.3.4
pytest-cov==2.8.1
pytest-django==3.8.0
pytest-pythonpath==0.7.3
codecov==2.0.16
drf-yasg==1.17.0
